
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- Toastify trigger script -->
<script>
  document.getElementById('forgotPassword').addEventListener('click', function (e) {
    e.preventDefault();

    Toastify({
      text: "forgot password feature is not implemented yet.",
      duration: 3000,
      gravity: "top",
      position: "right",
      close: true,
      style: {
        background: "linear-gradient(to right, red, blue)"
      }
    }).showToast();
  });
  document.getElementById('termsOfService').addEventListener('click', function (e) {
    e.preventDefault();

    Toastify({
      text: "Terms of Service feature is not implemented yet.",
      duration: 3000,
      gravity: "top",
      position: "right",
      close: true,
      style: {
        background: "linear-gradient(to right, red, blue)"
      }
    }).showToast();
  });
  document.getElementById('privacyPolicy').addEventListener('click', function (e) {
    e.preventDefault();

    Toastify({
      text: "privacy policy feature is not implemented yet.",
      duration: 3000,
      gravity: "top",
      position: "right",
      close: true,
      style: {
        background: "linear-gradient(to right, red, blue)"
      }
    }).showToast();
  });
</script>
</body>
</html>