<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>

  <% if(nav == true) { %>
    <div class="w-full px-4 sm:px-10 py-5 flex flex-col sm:flex-row items-center sm:justify-between bg-zinc-800 text-white gap-3 sm:gap-0">
      <h3 class="flex justify-center sm:justify-start">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" class="w-10 sm:w-10" alt="logo">
      </h3>
      <div class="flex flex-col sm:flex-row gap-2 sm:gap-5 items-center text-base sm:text-lg font-semibold text-center sm:text-left">
        <a href="/profile" class="hover:text-red-500">Profile</a>
        <a href="/feed" class="hover:text-red-500">Feed</a>
        <a class="px-3 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700" href="/logout">Logout</a>
      </div>
    </div>
  <% } %>
