<% include ./partials/header.ejs %>
<!-- this is index/login page -->
<div class="w-full h-screen bg-[url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-no-repeat bg-cover bg-center flex items-center justify-center">
  <div class="w-[40vw]  backdrop-blur-lg   bg-white/20 px-20 py-10 rounded-[30px]">
    <h1 class="text-3xl text-center font-semibold capitalize tracking-tighter text-zinc-700 leading-none mt-2 mb-7">Welcome to Pinterest.</h1>
    <form action="/login" method="POST" class="flex flex-col">
      <input class=" border-2 rounded-[1vw] block mt-2 w-full px-3 py-2" type="text" name="username" placeholder="username">
      <input class=" border-2 rounded-[1vw] block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password">
      <a  class="mt-2 inline-block font-semibold text-zinc-500 " href="#">forgot password?</a>
      <input class=" border-2 rounded-full block mt-2 w-full px-3 py-2 bg-red-600 text-white rounded-full" type="submit" value="Login" >
      <p class="text-xs  text-white mt-7 text-center w-3/4 mx-auto">By continuing, you agree to Pinterest's <a class="text-blue-600" href="#">Terms of Service</a> and acknowledge you've read our <a class="text-blue-600" href="#">Privacy Policy</a>
       
      </p>
    </form>
    <a href="/register" class="mt-7 inline-block  text-sm font-semibold text-zinc-700 text-center w-full  ">Dont Have an Account? Sign Up</a>
  </div>
</div>


<% include ./partials/footer.ejs %>